private/xsd/2018-10-05 1416_D_Status-ClientDocuments_Version_DV.1.0_response.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>Status-ClientDocuments</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="Response" type="Status-ClientDocuments-ResponseType-Response"/>
  <xsd:complexType name="Status-ClientDocuments-ResponseType-Response">
    <xsd:sequence>
      <xsd:element name="Fab" type="Status-ClientDocuments-FabType-Response" minOccurs="0"/>
      <xsd:element name="Warning" type="Status-ClientDocuments-WarningType-Response" minOccurs="0"/>
      <xsd:element name="Err" type="Status-ClientDocuments-ErrType-Response" minOccurs="0"/>
      <xsd:element name="Documents" type="Status-ClientDocuments-DocumentsType-Response" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="Version">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="From">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="To">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="STermId">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="9"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Unit">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Date" type = "DateType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Time" type = "TimeType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Type">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SubType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Agent">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="RSystem">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Booking Channel
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Rsystem_Create">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Booking Channel that create the booking
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Lang">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Mode">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="UserCode">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          ???
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="EducBook" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Is set to "Y" for educational booking, "N" is default
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="IComClient">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Internetkennzeichen
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Status-ClientDocuments-WarningType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Warning-,  error- or success-message
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the message
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ResultCode" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Standard Meldungsnummer (Stadis)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Text">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Message text
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SegRef">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Reference to the service in servicelist
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Error">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          To indicate whether it is an error or a success-message, NO is default
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Status-ClientDocuments-FabType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        To store or to show all bookable information
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AccountNr" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Booking number, 8 digits number
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="8"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PaymentMethod" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Payment Method (LV=Direct Debit; CC=Credit Card) default or wish from customer
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="Status-ClientDocuments-ErrType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Error from KOMT
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ErrorNr">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Standard Meldungsnummer (Stadis)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ErrorText">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Message text
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="CommError" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the message
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Status-ClientDocuments-DocumentsType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Store all documents information
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Document" type="Status-ClientDocuments-DocumentType-Response" minOccurs="0" maxOccurs="4"/>
      <xsd:element name="Text" minOccurs="0" maxOccurs="4">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Document texts
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="64"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="Status-ClientDocuments-DocumentType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Document information
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DocType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Type of Document
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InvoiceNr" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Invoice number of the invoice
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PlannedDate" type = "DateType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Date document WILL BE produced
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProductionDate" type = "DateType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Date document IS produced
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="SendVia" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Channel via document was send
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Receiver" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Reciever of the document
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SegRef" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Indicates the corresponding service of the document
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


     <xsd:simpleType name="DateType">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="8"/>
            <xsd:pattern value="(([0-2][0-9])|(3[0-1]))(0[1-9]|1[0-2])(19|2[0-9])[0-9][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
     <xsd:simpleType name="DateType2">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="10"/>
            <xsd:pattern value="(([0-2][0-9])|(3[0-1])).(0[1-9]|1[0-2]).(19|2[0-9])[0-9][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
     <xsd:simpleType name="DateTimeType">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="14"/>
           <xsd:pattern value="(([0-2][0-9])|(3[0-1]))(0[1-9]|1[0-2])(19|2[0-9])[0-9][0-9](([0-1][0-9])|(2[0-3]))[0-5][0-9][0-5][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TimeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
            <xsd:pattern value="(([0-1][0-9])|(2[0-3]))[0-5][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="YesNoType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
            <xsd:pattern value="(N|Y)"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
