private/xsd/2018-10-05 1416_D_Hotel-VacancyIndiv_Version_DV.1.1_response.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>Hotel-VacancyIndiv</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="Response" type="Hotel-VacancyIndiv-ResponseType-Response"/>
  <xsd:complexType name="Hotel-VacancyIndiv-ResponseType-Response">
    <xsd:sequence>
      <xsd:element name="Avh" type="Hotel-VacancyIndiv-AvhType-Response" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Bookmark" minOccurs="0" maxOccurs="unbounded">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Contains scrolling-information for availability-requests
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Warning" type="Hotel-VacancyIndiv-WarningType-Response" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Err" type="Hotel-VacancyIndiv-ErrType-Response" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="Version">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="From">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="To">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="STermId">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="9"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Unit">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Date" type = "DateType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Time" type = "TimeType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Type">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SubType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Agent">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Lang">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Mode" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="EducBook" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Is set to "Y" for educational booking, "N" is default
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Hotel-VacancyIndiv-WarningType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Warning-,  error- or success-message
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the message
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ResultCode" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Standard Meldungsnummer (Stadis)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Text">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Message text
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SegRef">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Reference to the service in servicelist
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Error">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          To indicate whether it is an error or a success-message, NO is default
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Hotel-VacancyIndiv-AvhType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Information about the available hotel. If in the request-Avl-element the check-flight-attribute was set to Y then the Avh-element is only sent when hotel and flight is available
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BrochureData" type="Hotel-VacancyIndiv-BrochureDataType-Response"/>
      <xsd:element name="StartDate" type = "DateType"  >
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          AvailList: Starting Date of the service if different from Avth-date)
HotelIndividual: requested date
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="Duration">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Duration of the service
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Destination">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Destination code
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DestinationName">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Name of Destination
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="LocationCode">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the Area or a collection of Hotels or extraservices (Ortscode)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="LocationName">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Name of Area (Ort)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Product">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          ProductId (composed of hotel code and type)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Category" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Category of the hotel: {1, 2, 3, 4, 5} optionally followed by "+".
'4' equals '****'
'4+' equals '****+'
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="BrochurePage" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Catalogue page which shows the offered hotel
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Name">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Name of the hotel (long-name)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AvailMeal" minOccurs="0" maxOccurs="5">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Available Board-codes for the hotel
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AdvisedTransport" minOccurs="0" maxOccurs="3">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Available Transport-Types, Values are "B","F","T" (bus, flight, train)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AvrOfferData" type="Hotel-VacancyIndiv-AvrOfferDataType-Response" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="AvrAvailData" type="Hotel-VacancyIndiv-AvrAvailDataType-Response" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="ServiceType" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          H = Hotel
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Arrangement" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Y= Product is an arrangement ; N (or not delivered)=default: product is no arrangement
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Hotel-VacancyIndiv-AvrType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Information about the available room
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="NumPassengers" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of passengers (alternatively to number of adults and children)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Adults" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of adults
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Children" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of children
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Infants" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of infants
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Room">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Type of room
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Meal">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          MealType (base of prices)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="RoomDesc">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Room Classification
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Norm">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Normal occupancy
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Min">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Minimal occupancy
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Max">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Maximal occupancy
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MaxAdult">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Maximal number of adults
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MinExtraBed" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Minimal number of extra beds, which have to bebooked within this room
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MaxExtraBeds" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of extra beds, which you can add to the room (only allowed for children)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="Hotel-VacancyIndiv-AvrOfferDataType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Price and Availability Information per room
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Avr" type="Hotel-VacancyIndiv-AvrType-Response"/>
      <xsd:element name="OfferDates" type="Hotel-VacancyIndiv-OfferDatesType-Response" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="Hotel-VacancyIndiv-OfferDatesType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Price and Availability per date
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="StartDate" type = "DateType"  >
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Date of the offer
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="Avail">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of available rooms
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AvailStatus">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Availability status of the room
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Currency" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Currency
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PriceAmount" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          ProductPrice for this date
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+(,[0-9][0-9])?"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PriceStatus" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          PriceStatus for this date
VB: "Vorausbucher"
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PriceType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Objekt- oder Personenbezogener Preis
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MinDuration" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          shortest valid duration (information for arrangements)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MaxDuration" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          max. valid duration  (information for arrangements)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="PromoPrice" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Y = It is a promotional price; N or not delivered: regular price
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Hotel-VacancyIndiv-AvrAvailDataType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        AvailabityData per date
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Avr" type="Hotel-VacancyIndiv-AvrType-Response"/>
      <xsd:element name="AvailDate" type="Hotel-VacancyIndiv-AvailDateType-Response" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="Hotel-VacancyIndiv-BrochureDataType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Tour Operator and brand informations
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TOCode">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Tour Operator code (brand code)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Catalog">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Tour Operator catalogue-code
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CatalogPromo" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Referenced promotion catalogue-code
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TOCompany">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Numeric Tour operator code(=VAST CODE)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="Hotel-VacancyIndiv-AvailDateType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Availability per date
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AccoDate" type = "DateType"  >
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Date of the offer
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="Avail" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of available rooms
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AvailStatus" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Availability status of the room
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="Hotel-VacancyIndiv-ErrType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Error from KOMT
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ErrorNr">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Standard Meldungsnummer (Stadis)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ErrorText">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Message text
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="CommError" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the message
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


     <xsd:simpleType name="DateType">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="8"/>
            <xsd:pattern value="(([0-2][0-9])|(3[0-1]))(0[1-9]|1[0-2])(19|2[0-9])[0-9][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
     <xsd:simpleType name="DateType2">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="10"/>
            <xsd:pattern value="(([0-2][0-9])|(3[0-1])).(0[1-9]|1[0-2]).(19|2[0-9])[0-9][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
     <xsd:simpleType name="DateTimeType">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="14"/>
           <xsd:pattern value="(([0-2][0-9])|(3[0-1]))(0[1-9]|1[0-2])(19|2[0-9])[0-9][0-9](([0-1][0-9])|(2[0-3]))[0-5][0-9][0-5][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TimeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
            <xsd:pattern value="(([0-1][0-9])|(2[0-3]))[0-5][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="YesNoType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
            <xsd:pattern value="(N|Y)"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
