private/xsd/2018-10-05 1416_D_Availability-List_Version_DV.1.1_request.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>Availability-List</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="Request" type="Availability-List-RequestType-Request"/>
  <xsd:complexType name="Availability-List-RequestType-Request">
    <xsd:sequence>
      <xsd:element name="Avl" type="Availability-List-AvlType-Request" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="Version" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Version number of the XML message, The first two characters are helpful to differ between the different versions between the external partners
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="From" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Sender of the message
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="To" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Receiver of the message
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="STermId">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          A Code which could be used in NURVIS as user-code
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="9"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Unit" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          ???
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Window">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Window-Id
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Date" type = "DateType" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Date when the message was sent (part of the timestamp)
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Time" type = "TimeType" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Time when the message was sent (part of the timestamp)
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Type" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Together with SubType, the Type identifies the requested NURVIS-Service. The Type is used for a first distinction between availability services and booking services.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SubType" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Together with Type, the SubType identifies the requested NURVIS-Service.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Agent" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the Agency
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="RSystem">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the Agency (KOSYP)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Lang" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          ISO language code (DE, FR, ...)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Mode" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Values: Test, Qual, Prod
Identifies the system level (Test-, Quality- or Production-Level)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="UserCode">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          ???
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="EducBook" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Is set to "Y" for educational booking, "N" is default
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="IComClient">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Internetkennzeichen
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Availability-List-AvlType-Request">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Asking for an availability
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TOCode">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Tour Operator code (brand code) [Examples: TOC]
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Catalog" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Tour Operator catalogue
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="StartDate" type = "DateType"  >
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Starting date of the service
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="HotelDate" type = "DateType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Date of hotel-start
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="TrpDate" type = "DateType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Date of transport
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="StartTour" type = "DateType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Date of start of the whole journey
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="Duration">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Duration of the service
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DurationTrp" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Duration of the transport
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DurationTour" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Full duration of the journey for the passengers
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Adults" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of adults
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Children" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of children
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Infants" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of infants
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AvlAges" type="Availability-List-AvlAgesType-Request" minOccurs="0"/>
      <xsd:element name="Product" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          ProductId (composed of hotel code and type)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Room" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Type of room
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Meal" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Type of board (meal)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TrpType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Type of transport: F-flight, Z-train, B-bus, Default is "F"
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OutDep" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Departure airport of outbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OutArr" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Arrival airport of outbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OutClass" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight class of outbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OutServiceClass" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight class of outbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OutCarrier" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Carriercode of outbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OutChain" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight chain of outbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OutSeqNr" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Sequence fligth-number (BFKL-BEF-NR) of outbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InDep" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Departure airport of inbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InArr" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Arrival airport of inbound flight 
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InClass" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight class of inbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InServiceClass" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight class of inbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InCarrier" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Carriercode of inbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InChain" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight chain of inbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InSeqNr" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Sequence fligth-number (BFKL-BEF-NR) of inbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Avr" type="Availability-List-AvrType-Request" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="PricesYesNo" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Y = prices have to be returned
N = no price-information (default)
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="RequestYesNo" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Default (empty) = defined by catalog
Y = request-hotels are ok
N = request-hotels are NK
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="UseCacheYesNO" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Y = use cache
N=don't use cache (actually not allowed)
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ContingentYesNo" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Y = the number of free beds has to be returned
N = no information about free beds (default)
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="SeatsYesNo" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Y = the number of free seats has to be returned
N = no information about free seats (default)
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Availability-List-AvrType-Request">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Information about the available room
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Room" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Type of room
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Meal" minOccurs="0" maxOccurs="unbounded">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          MealType (base of prices)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="Availability-List-AvlAgesType-Request">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        List of ages or birthdates of persons
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Age" minOccurs="0" maxOccurs="unbounded">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Age of a person
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Birth" type = "DateType" minOccurs="0" maxOccurs="unbounded">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Birthdate of a person.
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


     <xsd:simpleType name="DateType">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="8"/>
            <xsd:pattern value="(([0-2][0-9])|(3[0-1]))(0[1-9]|1[0-2])(19|2[0-9])[0-9][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
     <xsd:simpleType name="DateType2">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="10"/>
            <xsd:pattern value="(([0-2][0-9])|(3[0-1])).(0[1-9]|1[0-2]).(19|2[0-9])[0-9][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
     <xsd:simpleType name="DateTimeType">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="14"/>
            <xsd:pattern value="(([0-2][0-9])|(3[0-1]))(0[1-9]|1[0-2])(19|2[0-9])[0-9][0-9](([0-1][0-9])|(2[0-3]))[0-5][0-9][0-5][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TimeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
            <xsd:pattern value="(([0-1][0-9])|(2[0-3]))[0-5][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="YesNoType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
            <xsd:pattern value="(N|Y)"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
