private/xsd/2018-10-05 1416_D_Flight-Special-Service-SSR_Version_DV.1.1_response.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>Flight-Special-Service-SSR</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="Response" type="Flight-Special-Service-SSR-ResponseType-Response"/>
  <xsd:complexType name="Flight-Special-Service-SSR-ResponseType-Response">
    <xsd:sequence>
      <xsd:element name="Avk" type="Flight-Special-Service-SSR-AvkType-Response" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Avc" type="Flight-Special-Service-SSR-AvcType-Response" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Warning" type="Flight-Special-Service-SSR-WarningType-Response" minOccurs="0"/>
      <xsd:element name="Err" type="Flight-Special-Service-SSR-ErrType-Response" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="Version">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="From">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="To">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="STermId">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="9"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Unit">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Date" type = "DateType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Time" type = "TimeType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Type">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SubType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Agent">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Lang">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Mode">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="UserCode">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          ???
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="EducBook" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Is set to "Y" for educational booking, "N" is default
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="IComClient">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Internetkennzeichen
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Flight-Special-Service-SSR-WarningType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Warning-,  error- or success-message
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the message
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ResultCode" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Standard Meldungsnummer (Stadis)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Text">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Message text
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SegRef">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Reference to the service in servicelist
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Error">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          To indicate whether it is an error or a success-message, NO is default
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Flight-Special-Service-SSR-FatType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Group-element to store a Transport-position
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="StartDate" type = "DateType"  >
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Starting date of the transportation
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dep">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the Departure Airport
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Arr">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the Arrival Airport
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Class">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Class of transportation (will be decomissioned in the next release, instead use CabinClass)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ServiceClass" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Description of the service class  (will be decomissioned in the next release, instead use CabinClass)
Not used yet.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Chain">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight chain
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Carrier">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the Carrier of the first leg.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="SystemPortal" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          SYPO-Code
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InternalTcReference" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          ABK-REFERENZ-ID
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Leg" type="Flight-Special-Service-SSR-LegType-Response" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="Flight-Special-Service-SSR-LegType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Leg-Information
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DepDate" type = "DateType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Date of departure
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="ArrDate" type = "DateType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Date of Arrival
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dep" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          IATA-Code departure-airport
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Arr" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          IATA-Code arrival-airport
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Class" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Class of the flight (will be decomissioned in the next release, instead use BookingClass)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ServiceClass" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          service of this seat (will be decomissioned in the next release, instead use CabinClass)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Carrier" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Carrier-code
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="FlightNr" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight-number
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DepTime" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Departure-time
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ArrTime" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Arrival-time
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ExtPortal" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          externes Portal
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ExtPortalRef" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Referenz-Nummer des externen Portals
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="Key">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Internal key used by NURVIS which must be sent back by Nerus without any modification.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1000"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="External" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          External=Y when the Leg is booked with an external booking system
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Flight-Special-Service-SSR-AvkType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Category of extra-service. Can include a list of Avc-elements (extra-servicest), if the actual category was selected.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CatCode">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the extra-service-category
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CatName" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Name or description of the Extra-Service-Category
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="Key">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Internal Key used by NURVIS which must be send back by Nerus without any modification.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Selected" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Y = for this category all extra-services are delivered. N = the extra-services of this category could exist but they are not delivered (default)
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Flight-Special-Service-SSR-AvcType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Availability result for an extra-service
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AvkCatCode" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the extra-service-category
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Product">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the extra-service/insurance
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TextS" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Name of the extra-service/insurance
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PriceInfo" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Price for the extra-service for the first feasible date and the minimum duration/insurance-price
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+(,[0-9][0-9])?"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Currency" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Currency
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="ServiceType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Type of service.
'L': extra-service
'I' = Insurance
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Key">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Internal key used by NURVIS which must be sent back by Nerus without any modification.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Flight-Special-Service-SSR-ErrType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Error from KOMT
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ErrorNr">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Standard Meldungsnummer (Stadis)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ErrorText">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Message text
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="CommError" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the message
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


     <xsd:simpleType name="DateType">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="8"/>
            <xsd:pattern value="(([0-2][0-9])|(3[0-1]))(0[1-9]|1[0-2])(19|2[0-9])[0-9][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
     <xsd:simpleType name="DateType2">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="10"/>
            <xsd:pattern value="(([0-2][0-9])|(3[0-1])).(0[1-9]|1[0-2]).(19|2[0-9])[0-9][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
     <xsd:simpleType name="DateTimeType">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="14"/>
           <xsd:pattern value="(([0-2][0-9])|(3[0-1]))(0[1-9]|1[0-2])(19|2[0-9])[0-9][0-9](([0-1][0-9])|(2[0-3]))[0-5][0-9][0-5][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TimeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
            <xsd:pattern value="(([0-1][0-9])|(2[0-3]))[0-5][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="YesNoType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
            <xsd:pattern value="(N|Y)"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
