private/xsd/2018-10-05 1416_D_Flight-Seatmap-ASR_Version_DV.1.3_response.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>Flight-Seatmap-ASR</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="Response" type="Flight-Seatmap-ASR-ResponseType-Response"/>
  <xsd:complexType name="Flight-Seatmap-ASR-ResponseType-Response">
    <xsd:sequence>
      <xsd:element name="Fat" type="Flight-Seatmap-ASR-FatType-Response" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="SeatPrices" type="Flight-Seatmap-ASR-SeatPricesType-Response" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="SeatModel" type="Flight-Seatmap-ASR-SeatModelType-Response" minOccurs="0"/>
      <xsd:element name="Warning" type="Flight-Seatmap-ASR-WarningType-Response" minOccurs="0"/>
      <xsd:element name="Err" type="Flight-Seatmap-ASR-ErrType-Response" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="Version">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="From">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="To">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="STermId">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="9"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Unit">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Date" type = "DateType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Time" type = "TimeType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Type">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SubType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Agent">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Lang">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Mode">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          the same as in request
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="UserCode">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          ???
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="EducBook" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Is set to "Y" for educational booking, "N" is default
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="IComClient">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Internetkennzeichen
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Flight-Seatmap-ASR-WarningType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Warning-,  error- or success-message
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the message
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ResultCode" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Standard Meldungsnummer (Stadis)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Text">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Message text
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SegRef">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Reference to the service in servicelist
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Error">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          To indicate whether it is an error or a success-message, NO is default
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Flight-Seatmap-ASR-FatType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Group-element to store a Transport-position
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Currency" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Currency 
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="StartDate" type = "DateType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Starting date of the transportation
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="Duration" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Duration of the service
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Dep" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the Departure Airport
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Arr" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the Arrival Airport
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Class" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Class of transportation (will be decomissioned in the next release, instead use CabinClass)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ServiceClass" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Description of the service class  (will be decomissioned in the next release, instead use CabinClass)
Not used yet.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Chain" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight chain
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Carrier" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the Carrier of the first leg.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="FlightNr" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight number of the first leg without carrier code
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DepTime" type = "TimeType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Time of departure
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="ArrTime" type = "TimeType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Time of arrival
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="SystemPortal" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          SYPO-Code
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InternalTcReference" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          ABK-REFERENZ-ID
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Status" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Status of the transportation.
'OK': seats available
'NK': no seats available
'RM': service on request - not confirmed
'RQ': service on request - confirmed
'XX': service cancelled
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="StatusTech" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Technical status
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Adults" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of adults 
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Children" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of children
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Infants" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of infants
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="RealDate" type = "DateType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Real departure date of the transportation (relevant for overnight-flight)
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="RealDepAirport" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Real departure airport (relevant for departure "PAR")
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="RealArrAirport" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Real arrival airport (relevant for arrival "PAR")
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="RealDepTerminal" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Real departure airport-terminal (relevant for departure "PAR")
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ChangePossibility" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Update via external plattform possible
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Changed" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Kind of change in RAPO for external Systems.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="SeatReservation" type="Flight-Seatmap-ASR-SeatReservationType-Response" minOccurs="0"/>
      <xsd:element name="Persons" type="Flight-Seatmap-ASR-PersonsType-Response" minOccurs="0"/>
      <xsd:element name="Leg" type="Flight-Seatmap-ASR-LegType-Response" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="ServiceType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Type of transportation.
F = flight
B = Bus   (not used yet)
T = train  (not used yet)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Key">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Internal key which must  be sent back by Nerus without any modification.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1000"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SegRef">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Indicates the position of this service in the service-list
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Direction">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Direction of the transportation.
'H' = outbound transport
'R' = inbound transport
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SeatRes">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Seatreservation: Y=possible, N=not possible, SR=exists
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Flight-Seatmap-ASR-PersonsType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        List of references to fap-elements
      </xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>


  <xsd:complexType name="Flight-Seatmap-ASR-LegType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Leg-Information
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DepDate" type = "DateType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Date of departure
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="ArrDate" type = "DateType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Date of Arrival
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dep" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          IATA-Code departure-airport
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Arr" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          IATA-Code arrival-airport
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Class" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Class of the flight (will be decomissioned in the next release, instead use BookingClass)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ServiceClass" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          service of this seat (will be decomissioned in the next release, instead use CabinClass)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Carrier" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Carrier-code
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="FlightNr" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight-number
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DepTime" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Departure-time
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ArrTime" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Arrival-time
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ExtPortal" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          externes Portal
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ExtPortalRef" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Referenz-Nummer des externen Portals
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ChangePossibility" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Update via external plattform possible
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="SeatReservation" type="Flight-Seatmap-ASR-SeatReservationType-Response" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="SpecialServiceRequest" type="Flight-Seatmap-ASR-SpecialServiceRequestType-Response" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="Key">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Internal key used by NURVIS which must be sent back by Nerus without any modification.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1000"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="External" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          External=Y when the Leg is booked with an external booking system
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Flight-Seatmap-ASR-AvlType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Asking for an availability
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TOCode" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Tour Operator code (brand code)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Catalog" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Tour Operator catalogue
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="SercCode" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Service Center Code
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Saison" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Saison
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="StartDate" type = "DateType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Starting date of the service
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="Duration" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Duration of the service
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Adults" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of adults
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Children" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of children
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Infants" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of infants
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TrpType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Type of transport: F-flight, Z-train, B-bus, Default is "F"
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OutDep" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Departure airport of outbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OutArr" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Arrival airport of outbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OutClass" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight class of outbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OutServiceClass" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight class of outbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OutCarrier" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Carriercode of outbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OutChain" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight chain of outbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InDep" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Departure airport of inbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InArr" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Arrival airport of inbound flight 
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InClass" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight class of inbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InServiceClass" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight class of inbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InCarrier" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Carriercode of inbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InChain" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Flight chain of inbound flight
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="Flight-Seatmap-ASR-ErrType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Error from KOMT
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ErrorNr">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Standard Meldungsnummer (Stadis)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ErrorText">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Message text
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="CommError" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the message
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Flight-Seatmap-ASR-SeatPricesType-Response">
    <xsd:attribute name="SeatCategory">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SeatPrice ">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+(,[0-9][0-9])?"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Flight-Seatmap-ASR-SeatModelType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        SeatMap List
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="StartDate" type = "DateType" minOccurs="0">
      </xsd:element>
      <xsd:element name="Dep" minOccurs="0">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Arr" minOccurs="0">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Chain" minOccurs="0">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Class" minOccurs="0">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ServiceClass" minOccurs="0">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Carrier" minOccurs="0">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="FlightNr" minOccurs="0">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Row" type="Flight-Seatmap-ASR-RowType-Response" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="Key">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Keydata (internal memory)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Flight-Seatmap-ASR-RowType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        SeatMap List
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Seat" type="Flight-Seatmap-ASR-SeatType-Response" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="RowNr">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="RowGap">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Class">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="ServiceClass">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Wing">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Exit">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Flight-Seatmap-ASR-SeatType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        SeatMap List
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="State">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SeatNr">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SeatPrice ">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          SeatPrice calculated based on category and SSR
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SeatCategory">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          SeatCategory
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SeatGap">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Flight-Seatmap-ASR-SeatReservationType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Booked Seats in Booking
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="Key">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="IdRef">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Reference to the ID of an fap-element
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Row">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Seat">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SeatCategory">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Category of the selected seat
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="PricePerson">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Price for Seatreservation
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Flight-Seatmap-ASR-SpecialServiceRequestType-Response">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Booked Seats in Booking
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="Key">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="IdRef">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Reference to the ID of an fap-element
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SSRCode">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          IATA Code of SSR (Target from AVC-Product)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SSRDesc">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Description of SSR
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


     <xsd:simpleType name="DateType">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="8"/>
            <xsd:pattern value="(([0-2][0-9])|(3[0-1]))(0[1-9]|1[0-2])(19|2[0-9])[0-9][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
     <xsd:simpleType name="DateType2">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="10"/>
            <xsd:pattern value="(([0-2][0-9])|(3[0-1])).(0[1-9]|1[0-2]).(19|2[0-9])[0-9][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
     <xsd:simpleType name="DateTimeType">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="14"/>
           <xsd:pattern value="(([0-2][0-9])|(3[0-1]))(0[1-9]|1[0-2])(19|2[0-9])[0-9][0-9](([0-1][0-9])|(2[0-3]))[0-5][0-9][0-5][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TimeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
            <xsd:pattern value="(([0-1][0-9])|(2[0-3]))[0-5][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="YesNoType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
            <xsd:pattern value="(N|Y)"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
