private/xsd/2018-10-05 1416_D_Hotel-VacancyIndiv_Version_DV.1.1_request.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>Hotel-VacancyIndiv</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="Request" type="Hotel-VacancyIndiv-RequestType-Request"/>
  <xsd:complexType name="Hotel-VacancyIndiv-RequestType-Request">
    <xsd:sequence>
      <xsd:element name="Avl" type="Hotel-VacancyIndiv-AvlType-Request"/>
      <xsd:element name="Fap" type="Hotel-VacancyIndiv-FapType-Request" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="Version" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Version number of the XML message, The first two characters are helpful to differ between the different versions between the external partners
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="From" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Sender of the message
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="To" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Receiver of the message
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="STermId">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          A Code which could be used in NURVIS as user-code
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="9"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Unit" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          ???
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Window">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Window-Id
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Date" type = "DateType" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Date when the message was sent (part of the timestamp)
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Time" type = "TimeType" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Time when the message was sent (part of the timestamp)
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Type" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Together with SubType, the Type identifies the requested NURVIS-Service. The Type is used for a first distinction between availability services and booking services.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="SubType" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Together with Type, the SubType identifies the requested NURVIS-Service.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Agent" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the Agency
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="RSystem">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of the Agency (KOSYP)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Lang" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          ISO language code (DE, FR, ...)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="Mode" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Values: Test, Qual, Prod
Identifies the system level (Test-, Quality- or Production-Level)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="EducBook" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Is set to "Y" for educational booking, "N" is default
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="Hotel-VacancyIndiv-FapType-Request">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        To store bookable information about a passenger
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Age" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Age of the traveler (optional for adults, mandatory for children and infants)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Birth" type = "DateType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Date of Birth (optional)
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="Hotel-VacancyIndiv-AvlType-Request">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        Asking for an availability
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TOCode">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Tour Operator code (brand code)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Catalog">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Tour Operator catalogue
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="StartDate" type = "DateType"  >
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Starting date of the service
        </xsd:documentation>
      </xsd:annotation>
      </xsd:element>
      <xsd:element name="Duration">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Duration of the service
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Destination" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Destination code
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="LocationCode" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Code of an area or a collection of hotels
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Adults" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of adults
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Children" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of children
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Infants" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of infants
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Product" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          ProductId (composed of hotel code and type)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="HotelChain" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Hotel Chain
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Meal" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Type of board (meal)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Units" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Number of rooms in this line
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Category" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Category of the hotel (1, 1+, 2, 2+, 3, 3+, 4, 4+, 5, 5+)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="ServiceType" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Type of requested service. Values:
F=Flight without hotel	
H=hotel without flight
FH - flight and hotel-package
I=insurance
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="DaysBefore">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          To control the number of processed dates before a given date. Used for Hotel-Vacancy.
Valid range: 0-7
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="DaysAfter">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          To control the number of processed dates after a given date.
Valid range: 0-15
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]+"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="CheckFlight" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Y = Availability of flights has to be checked (default)
N = Availability of flights must not be checked
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ShowPrices" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Y = prices have to be returned
N = no price-information (default)
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ShowAllotment" type = "YesNoType">
      <xsd:annotation>
        <xsd:documentation xml:lang="EN">
          Y = the number of free beds has to be returned
N = no information about free beds (default)
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


     <xsd:simpleType name="DateType">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="8"/>
            <xsd:pattern value="(([0-2][0-9])|(3[0-1]))(0[1-9]|1[0-2])(19|2[0-9])[0-9][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
     <xsd:simpleType name="DateType2">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="10"/>
            <xsd:pattern value="(([0-2][0-9])|(3[0-1])).(0[1-9]|1[0-2]).(19|2[0-9])[0-9][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
     <xsd:simpleType name="DateTimeType">
        <xsd:restriction base="xsd:string">
           <xsd:maxLength value="14"/>
            <xsd:pattern value="(([0-2][0-9])|(3[0-1]))(0[1-9]|1[0-2])(19|2[0-9])[0-9][0-9](([0-1][0-9])|(2[0-3]))[0-5][0-9][0-5][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TimeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
            <xsd:pattern value="(([0-1][0-9])|(2[0-3]))[0-5][0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="YesNoType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
            <xsd:pattern value="(N|Y)"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
